Repository RhinoSecurityLabs/cloudgoat, pull requests merged in 2025-03, with the labels that each got.

#304 Update Scenarios Page Grouping and UI Enhancements
  README.md
Labels: enhancement

#291 Updated Dockerfile and requirements.txt
  Dockerfile
  requirements.txt
Labels: docker

#303 New Scenario: Beanstalk Secrets
  scenarios/beanstalk_secrets/README.md
  scenarios/beanstalk_secrets/cheat_sheet.md
  scenarios/beanstalk_secrets/manifest.yml
  scenarios/beanstalk_secrets/terraform/ec2.tf
  scenarios/beanstalk_secrets/terraform/iam.tf
  scenarios/beanstalk_secrets/terraform/output.tf
  scenarios/beanstalk_secrets/terraform/provider.tf
  scenarios/beanstalk_secrets/terraform/secrets.tf
  scenarios/beanstalk_secrets/terraform/variables.tf
  scenarios/beanstalk_secrets/terraform/vpc.tf
Labels: new scenario
